.section--generic {
  margin-bottom: 2rem;
}

.section--generic__player--zone .player--list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.3em;
}


@media (min-width: 500px) {
  .section--generic__player--zone .player--list.card-big {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

.section--generic__player--zone .player--list.card-small{
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

}



